<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>BUS BOOKING</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Bus Booking</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="http://127.0.0.1:8000/home/">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">FeedBack
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="http://127.0.0.1:8000/feedBack/ViewFeedBack/">View Feedback</a></li>
                    <li><a href="http://127.0.0.1:8000/feedBack/">GiveFeedback</a></li>
                </ul>
            </li>
            <li><a class="nav-link" href="http://127.0.0.1:8000/feedBack/about/">About US</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="http://127.0.0.1:8000"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
        </ul>
    </div>
</nav>
    <br><br>
    <center>
    <h1>Are you sure you want to delete your account?</h1><br><br>
    <form method="POST" action="http://127.0.0.1:8000/home/deleted"> {% csrf_token %}
        <button type="submit" class="btn btn-danger">Yes, I am sure</button>
        <a href="http://127.0.0.1:8000/home/" class="btn btn-success">No</a>
    </form>
</center>
</body>

</html>