{% extends 'base.html' %}

{% block content %}
{% if form.errors %}
<p class="error"><h2> Invalid Username or Password </h2></p>
{% endif %}

<form action="http://127.0.0.1:8000/auth/" method="post">{% csrf_token %}
    <h2 style="color:black">Please enter your login details.</h2><br>
    <b>Username :</b> <input type="text" name="username" value="" id="username"><br><br>
    <b>Password: </b> <input type="password" name="password" value="" id="password"><br><br>
    <input type="submit" value="Login"/>
</form>
{% endblock %}
