<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>BUS BOOKING</title>
</head>
<body>
<nav class="navbar navbar-inverse " >
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li class="active" style="background-color: #4CAF50;"><a href="http://127.0.0.1:8000/home/"><i
                    class="material-icons">home</i></a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">FeedBack
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="http://127.0.0.1:8000/feedBack/ViewFeedBack/">View Feedback</a></li>
                    <li><a href="http://127.0.0.1:8000/feedBack/">GiveFeedback</a></li>
                </ul>
            </li>
            <li><a class="nav-link" href="http://127.0.0.1:8000/feedBack/about/">About US</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="material-icons">person</i>
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="http://127.0.0.1:8000/home/updatedetails">view profile</a></li>
                    <li><a href="http://127.0.0.1:8000/home/updatedetails">Update profile</a></li>
                    <li><a href="http://127.0.0.1:8000/home/deleteaccount">Delete Account</a></li>
                    <li><a href="http://127.0.0.1:8000/bus">Book Tickets</a></li>
                    <li><a href="http://127.0.0.1:8000/Booking/viewTicket">view tickets</a></li>
                    <li><a href="http://127.0.0.1:8000/Booking/cancelTicket">Cancel Reservation</a></li>
                    <li><a href="http://127.0.0.1:8000/Booking/usertransaction">see transactions</a></li>
                    <li><a href="http://127.0.0.1:8000/logout"><i class="material-icons">logout</i></a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    {% load static %}
    <link  type="text/pdf" href="{% static 'feedBack/dfe.pdf' %}"/>
    <iframe src="./dfd.pdf" style="width:600px; height:500px;" frameborder="0"></iframe>
</div>
</body>
</html>