h1
{
    color:purple;
}
h2
{
    color:black;
<<<<<<< HEAD
=======
}
h3
{
    color:red;
>>>>>>> 12ef29df478afee05bea5bb50b5aa7486361601e
}
p
{
    color:black;
}
body
{
    background: white url("image/bus.jpg") no-repeat;
    background-size: 100%;
}

