h1
{
    color:black;
}
h2
{
    color:black;
<<<<<<< HEAD
=======
}
h3
{
    color:red;
>>>>>>> 12ef29df478afee05bea5bb50b5aa7486361601e
}
p
{
    color:black;
<<<<<<< HEAD
=======

}
table
{
	width: 90%;
}
th
{
	height: 50px;
	border: 3px solid ;
	padding: 8px;
}
tr
{
	height: 50px;
	border: 3px solid ;
	padding: 8px;
}
td
{
	border: 3px solid ;
	padding: 8px;
>>>>>>> 11519fc45cfeffebd973558a77aa962d376a840b
}
body
{
    background: white url("image/bus.jpg") no-repeat;
    background-size: 100%;
}


