h1
{
    color:black;
}
h2
{
    color:black;
}
h3
{
    color:red;
}
p
{
    color:black;

}
table
{
	width: 90%;
}
th
{
	height: 50px;
	border: 3px solid ;
	padding: 8px;
}
tr
{
	height: 50px;
	border: 3px solid ;
	padding: 8px;
}
td
{
	border: 3px solid ;
	padding: 8px;
}
body
{
    background: white url("image/bus.jpg") no-repeat;
    background-size: 100%;
}


