<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>BUS BOOKING</title>
    <style>
        .container {
            position: absolute;
            right: 0px;
            width: 700px;
        }

        form {
            -webkit-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
            background: #fff;
            padding: 30px;
            width: 70%;
            max-width: 400px;
            position: relative;
            -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
            text-align: left;
        }

        input[type=text] {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }

        input[type=submit] {
            background-color: #f24c4c;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: center;

        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active" style="background-color: #4CAF50;"><a href="http://127.0.0.1:8000/home/"><i
                    class="material-icons">home</i></a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">FeedBack
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="http://127.0.0.1:8000/feedBack/ViewFeedBack/">View Feedback</a></li>
                    <li><a href="http://127.0.0.1:8000/feedBack/">GiveFeedback</a></li>
                </ul>
            </li>
            <li><a class="nav-link" href="http://127.0.0.1:8000/feedBack/about/">About US</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="material-icons">person</i>
                    <span class="caret"></span></a>
                {% if user.is_superuser %}
                <ul class="dropdown-menu">
                    <li><a href="http://127.0.0.1:8000/admin/auth/user/">view profile</a></li>
                    <li><a href="http://127.0.0.1:8000/bus">Book Ticket</a></li>
                    <li><a href="http://127.0.0.1:8000/admin/Booking/reservation/" >See
                        Reservation</a></li>
                    <li><a href="http://127.0.0.1:8000/home/deleteaccount">Delete Account</a></li>
                    <li><a href="http://127.0.0.1:8000/admin/bus/bus/">see bus</a></li>
                    <li><a href="http://127.0.0.1:8000/admin/bus/bus/add/">add bus</a></li>
                    <li><a href="http://127.0.0.1:8000/admin/Booking/transaction/">see transactions</a></li>
                    <li><a href="http://127.0.0.1:8000/logout"><i class="material-icons">logout</i></a></li>
                </ul>
                {% else %}
                <ul class="dropdown-menu">
                    <li><a href="http://127.0.0.1:8000/home/displaydetails">view profile</a></li>
                    <li><a href="http://127.0.0.1:8000/home/updatedetails">Update profile</a></li>
                    <li><a href="http://127.0.0.1:8000/home/deleteaccount">Delete Account</a></li>
                    <li><a href="http://127.0.0.1:8000/bus">Book Tickets</a></li>
                    <li><a href="http://127.0.0.1:8000/Booking/viewTicket">view tickets</a></li>
                    <li><a href="http://127.0.0.1:8000/Booking/usertransaction">see transactions</a></li>
                    <li><a href="http://127.0.0.1:8000/logout"><i class="material-icons">logout</i></a></li>
                </ul>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />
    <center>
        <h1><u>Enter your ticket details:</u></h1></center>
        <br><br>

        <div class="container">
            <form action="http://127.0.0.1:8000/Booking/cancelTicket/refund" method="POST">{% csrf_token %}
                <label><b>
                        <h3 style="color:black">Ticket id:</h3>
                    </b></label>
                <input type="text" name="ticketid" required>
                <b><span style="color:red">{{ ticket_error}}</span></b>
                <br>
                <label class="col-form-label"><b>
                        <h3 style="color:black">Transaction id:</h3>
                    </b>
                </label>
                <input type="text" name="transactionid" required>
                <b><span style="color:red">{{ pay_error}}</span></b>
                <br>
                <label class="col-form-label"><b>
                        <h3 style="color:black">No of Seats:</h3>
                    </b></label>
                <input type="text" name="noofseats" required>
                <b><span style="color:red">{{ no_error }}</span></b>
                <br>
                <br>
                <center><button type="submit" class="btn btn-danger">Cancel Ticket</button></center>

            </form>
        </div>
    
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
-->
    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>

</body>

</html>