{% extends 'base.html' %}

{% block content %}

<body>
    <h1><u>Reserve Seats</u></h1><br>

    <form class="d-flex" action="http://127.0.0.1:8000/Booking/reservation/transaction" method="POST">{% csrf_token %}
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label"><b><h5>Number Of Seats:</h5></b></label>
            </div>
            <div class="col-auto">
                <input type="text"  class="form-control" name="numberofseats">
            </div>
            <div class="col-12">
                <br><button type="submit" class="btn btn-dark">Make Payment</button>
            </div>
            </div>
    </form>
    </body>

    {% endblock %}